<ul *ngFor="let quote of quotes">
    <div></div>
    <li appHighlight>{{quote.quote}} <span class="text-primary">{{quote.upvote}}</span> <span class="text-warning">{{quote.downvote}}</span></li>
    <li appHighlight>{{quote.author}}</li>
    <li appHighlight>{{quote.name}}</li>
    <app-quote-detail [quote]='quote'></app-quote-detail>

</ul>
   
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div *ngFor="let quote of quotes;let i = index">
                <h6 id={{i}} appStrikethrough>{{quote.quote}} registered by {{quote.name}}</h6>
                <button (click)="toggleDetails(i)" class="btn btn-primary">Toggle <Details></Details></button>
            </div>

            <div *ngIf="quotes.showDescription">
                <app-quote [quote]="quote" (isComplete)="deleteQuote($event,i)"></app-quote>
            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form></app-quote-form>
        </div>
    </div>
</div> -->