<div class="container">
    <div class="row">
      <div class="col-md-8"></div>
    </div>
  </div>
<div>
    <ul *ngFor="let quote of quotes">

        <div *ngIf="quote.upvote == highestVote() && quote.upvote>0; then highlight; else empty"></div>

        <ng-template #highlight>
            <li appHighlight>{{quote.quote}} <span class="text-primary">Upvote{{quote.upvote}}</span> <span
                    class="text-warning ml-6">Downvote{{quote.downvote}}</span></li>
            <li>{{quote.author}}</li>
            <li>{{quote.name}}</li>
            <!-- <app-quote-detail *ngIf="" [quote]="quote" (isComplete)="deleteQuote($event, index)"></app-quote-detail> -->

        </ng-template>

        <button class="btn btn-warning" (click)="addLikes">Like {{quote.upvote}}</button>&nbsp;&nbsp;
        <button class="ntn btn-primary" (click)="addMeeh">Dislike {{quote.downvote}}</button>
        <ng-template #empty>
            <li>{{quote.quote}} <span class="text-primary">Upvote{{quote.upvote}}</span> <span
                    class="text-warning ml-6">Downvote{{quote.downvote}}</span></li>
            <li>{{quote.author}}</li>
            <li>{{quote.name}}</li>
        </ng-template>

        <app-quote-detail [quote]='quote'></app-quote-detail>


    </ul>
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>