/* You can add global styles to this file, and also import other style files */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-image: url(../src/assets/backgroundb.jpg);
    background-size: cover;
};